# -------------------------------------------------------------------------------
# Deployment Settings
# -------------------------------------------------------------------------------

# Git repository url
git.project.repo = <git-repo-url>
